# Secrets
.env
apps/python-widget/.env
.cache*
apps/python-widget/.cache*


# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environments
.venv/
venv/
env/

# OS junk 
.DS_Store
Thumbs.db